.hello__title {
    font-size: 174px;
    line-height: 101%;
    color: #333333;
    padding: 146px 0 0 89px;
}
.hello__subtittle {
    font-size: 183px;
    line-height: 96%;
    color: #333333;
    padding-left: 89px;
}
.hello__text {
    line-height: 267%;
    color: #808080;
    width: 500px;
    padding: 80px 0 0 89px;
}
.hello__image{
    text-align: center;
}
.tittle-font{
    font-family: "palatinolinotype_roman";
}